body {
  margin: 0;
  padding: 0;
  background: lightblue;
}

.forRows {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
}

.btns{
  flex: 1;
  cursor: pointer;
  border: none;
  height: 3.5em;
  margin-top: 1em;
}

.btns:first-child{
  border-top-left-radius:  12px;
  border-bottom-left-radius: 12px;
  border: 5px;
  border-color: black;
  /*margin-right: 0.15rem;*/
}

.btns:last-child{
  border-top-right-radius:  12px;
  border-bottom-right-radius: 12px;
  margin-left: 0.15rem;
  /*border-color: black;*/
}
