body {
  margin: 0;
  padding: 0;
  background: darkslateblue ;
}

.forRows {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
}

.btns{
  flex: 1;
  cursor: pointer;
  height: 3.5em;
  margin-top: 1em;
  border: none;
}

.btns:first-child{
  border-top-left-radius:  12px;
  border-bottom-left-radius: 12px;
  border-right: 0.2rem solid grey;
}

.btns:last-child{
  border-top-right-radius:  12px;
  border-bottom-right-radius: 12px;
  border-left: 0.2rem solid grey;
}

.actual{
  cursor: default;
}

.loader{
  margin-top: 2.5rem;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 1.7rem;
  height: 1.7rem;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.lista{
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
}

.tareas{
  border: none;
  border-radius: 12px;
  background: #3498db;
  flex: 1;
  margin-top: 0.3rem;
  color: whitesmoke;
  font-size: 90%;
  cursor: pointer;
  padding: 2.3rem;
}

.completed{
  background: darkseagreen;
}